#map
{
  width: 1200px;
  height: 900px;
}

.leaflet-popup-content-wrapper
{
  background: #2c3e50;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.leaflet-popup-content-wrapper a
{
  color: rgba(255,255,255,0.5);
}

.leaflet-popup-tip-container
{
  width: 30px;
  height: 15px;
}

.leaflet-popup-tip
{
  visibility: hidden;
}

.leaflet-popup-close-button
{
  visibility: hidden;
}

.state-icon-wa, .state-icon-nt, .state-icon-sa, .state-icon-qld, .state-icon-nsw, .state-icon-act, .state-icon-vic, .state-icon-tas {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.state-icon-wa, .state-icon-nt, .state-icon-sa, .state-icon-qld, .state-icon-nsw, .state-icon-act, .state-icon-vic, .state-icon-tas, h4 {
    margin: 0 0 5px;
    color: #777;
}